---
layout: base
ogtype: website
---
<header class="header">
  <div class="container">
    <a href="/" class="branding">
      {%- include "leap.svg" -%}
      <span>leap123</span>
    </a>
    <div class="header-links">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/links">Links</a>
    </div>
  </div>
</header>
<main class="container">
  {{ content | safe }}
</main>